@model TemplatedHtmlHelper.Models.Employee

@{
    ViewBag.Title = "Index";
}
<html>
    <body>
        <h2>Index</h2>
        <div>
            @Html.DisplayName("Name")
            <br />
            <br />
            @Html.DisplayNameFor(x => x.DateOfBirth)
            <br />
            <br />
            <hr />
            @Html.DisplayText("Name")
            <br />
            <br />
            @Html.DisplayFor(x => x.DateOfBirth)
            <br />
            <br />
            <hr />
            @Html.Display("Name")
            <br />
            <br />
            @Html.DisplayFor(x => x.Email)
            <hr />
            @Html.DisplayForModel()
        </div>
    </body>
</html>

<style>
    .display-label{
        width:300px;
        padding:5px;
        background-color:darkgrey;
        border-radius:5px;
    }
    .display-field{
        width:300px;
        padding:5px;
        background-color:yellow;
        border-radius:5px;
        margin-left:20px !important;
        margin:10px;
    }
</style>

